.brand-logo img{
    margin-bottom: 3rem;
    width: 20%;
    height: 20%;

}
.title{
    margin: 2rem auto;
    font-size: 7rem;
    font-family: "Nanum Pen Script", cursive;
}
.nav-wrapper{
    background-color: goldenrod;
}
header{
    position: fixed;
}

.page-footer{
    background-color: white;
    color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.about-text{
    margin: 3rem;
}

main {
    margin-bottom: 7rem;
}

.row {
    border: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.card{
    width: 20%;
    margin: 2rem;
}

@media (max-width: 800px) {
    .column{
        width: 100%;
    }
    .title{
        font-size: 2rem;
    }
    .brand-logo img{
        margin:0;
    }
    h2{
        margin: 0;
    }
}
